*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

h1{
  font-size: 60px;
  padding: 100px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
}

.box{
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

.box:hover{
  background-color: lightgrey;
}
